@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  font-family: 'Poppins', sans-serif;
}

input:focus,
input:focus-visible,
input:focus-within {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

[data-slot="input"]:focus,
[data-slot="input"]:focus-visible,
[data-slot="input"]:focus-within {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
}

*:focus-visible {
  outline: none !important;
}